[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
toml = "*"

[dev-packages]

pytest = "*"
"pytest-watch" = "*"
mypy = "*"
twine = "*"
"pytest-mock" = "*"
"pytest-mypy" = "*"
"pytest-cov" = "*"
codecov = "*"
