[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
PyYAML = "*"
toml = "*"
pytest-mock = "*"
typing = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-mock = "*"
mypy = "*"
