argh==0.26.2
certifi==2017.7.27.1
chardet==3.0.4
codecov==2.0.9
colorama==0.3.9
coverage==4.4.1
docopt==0.6.2
idna==2.6
mypy==0.530
pathtools==0.1.2
pkginfo==1.4.1
py==1.4.34
pytest==3.2.3
pytest-cov==2.5.1
pytest-mock==1.6.3
pytest-mypy==0.3.0
pytest-watch==4.1.0
requests==2.18.4
requests-toolbelt==0.8.0
toml==0.9.3
tqdm==4.19.1.post1
twine==1.9.1
typed-ast==1.1.0
urllib3==1.22
watchdog==0.8.3
