argh==0.26.2
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
coverage==4.4.1
docopt==0.6.2
idna==2.5
mypy==0.511
pathtools==0.1.2
pkginfo==1.4.1
py==1.4.34
pytest==3.1.2
pytest-cov==2.5.1
pytest-mock==1.6.0
pytest-mypy==0.3.0
pytest-watch==4.1.0
PyYAML==3.12
requests==2.18.1
requests-toolbelt==0.8.0
toml==0.9.2
tqdm==4.14.0
twine==1.9.1
typed-ast==1.0.4
urllib3==1.21.1
watchdog==0.8.3
